<mat-sidenav-container class="contenedor">
    <mat-sidenav #sidenav mode="over" class="barra-lateral">

        <button class="boton" mat-button (click)="sidenav.toggle()">Contraer
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <div>
        </div>
        <mat-accordion>


            <mat-expansion-panel class="margen" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Proyectos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>

                    <button mat-button routerLink="/home">
                        Home 
                    </button>

                    <button mat-button routerLink="/spotiapp">
                        SpotiApp 
                    </button>

                    <button mat-button routerLink="/pipes">
                        Pipes 
                    </button>


                </div>
            </mat-expansion-panel>
        </mat-accordion>



    </mat-sidenav>

    <mat-sidenav-content class="contenedor">

        <div class="boton-menu titulo">
            <div class="botones">
                <a href="/">
                    <img class="logo" src="../assets/Images/Logo.png" alt="Logo Empresa">
                </a>
                <button class="boton" mat-button (click)="sidenav.toggle()">Menú</button>
            </div>
            <div>
                <h1 class="nombre" style="color: white;">Gianfranco Abinassar</h1>
            </div>
        </div>

        <router-outlet></router-outlet>



    </mat-sidenav-content>
</mat-sidenav-container>